/* Import Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* ---------------- ROOT VARIABLES ---------------- */
:root {
  --primary: #330754;
  --primary-light: #bb81f5;
  --primary-light2: #cc58bd;
  --secondary: #210a3b;
  --black: #000000;
  --white: #ffffff;
  --grey: grey;
  --background: #0b0d16ff;
}

/* ---------------- BASE STYLES ---------------- */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--black);
}

h1 {
  font-size: 50px !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  color: var(--white);
}

h6 {
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
}

h5 {
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-light2);
}

h4 {
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-light);
  font-size: 20px !important;
  font-weight: 600 !important;
}

p {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif !important;
}

.text {
  font-size: 15px !important;
  font-family: "Poppins", sans-serif !important;
  color: var(--grey) !important;
  font-weight: 100 !important;
  line-height: 20px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt--5 {
  margin-top: -5px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.p-0 {
  padding: 0px !important;
}

.plr-50 {
  padding: 0px 50px !important;
}

.ml--15 {
  margin-left: -15px !important;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 2px var(--white);
  font-weight: bold;
}

.bold {
  font-weight: bold !important;
}

/* ---------------- HEADER ---------------- */
.header {
  transition: all 0.3s ease;
  box-shadow: none !important;
}

.header.transparent {
  background: transparent !important;
}

.header.black {
  background: var(--black) !important;
}

.header.hidden {
  top: -80px !important;
}

.header-toolbar {
  justify-content: space-between;
  padding: 2px 50px !important;
  z-index: 1;
}

.logo img {
  max-height: 68px;
  width: auto;
  cursor: pointer;
  object-fit: contain;
}

.navbar {
  display: flex;
  gap: 25px;
}

.nav-button {
  color: var(--white) !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.navbar .nav-button.contact-btn {
  background-color: var(--white);
  color: var(--black) !important;
  padding: 0 30px;
  font-weight: 500 !important;
  border-radius: 0;
}

.mobile-navbar {
  display: none;
  gap: 10px;
  align-items: center;
}

/* ---------------- HERO ---------------- */
.hero-container {
  height: 95vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: transparent !important;
  z-index: 1;
}

.hero {
  height: 100%;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 10), transparent 80%);
  pointer-events: none;
  z-index: 1;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--white);
  padding: 0 50px;
  position: relative;
  z-index: 2;
}

.hero-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0px 50px;
}

.hero-btn {
  background-color: var(--primary) !important;
  padding: 10px 40px !important;
  border: 1px solid var(--white) !important;
  font-size: 16px !important;
}

.hero-btn:hover {
  background-color: var(--primary-light) !important;
  border-color: var(--primary) !important;
}

.mobile-dropdown {
  display: none;
}

/* ---------------- VISION ---------------- */
#scroll-section {
  position: relative;
  background: linear-gradient(90deg, var(--black) 0%, var(--secondary) 100%);
  box-sizing: border-box;
}

.MuiLinearProgress-root {
  height: 3px !important;
  border-radius: 2px;
  border: 0.5px solid var(--white);
  background-color: var(--white) !important;
  overflow: hidden;
  position: relative;
}

.MuiLinearProgress-bar {
  background: var(--primary) !important;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.progress-container {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  top: auto;
}

.new-section {
  padding: 50px;
}

.vision-box {
  padding: 40px 16px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  text-align: center;
  background-color: var(--background);
}

.vision-main {
  padding-top: 50px;
}

.vision-image-box img {
  border-radius: 8px;
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ---------------- OUR NUMBERS ---------------- */
.count-up-text {
  font-size: 60px;
  font-weight: 600;
  background: linear-gradient(90deg, #8e2de2, #ff6ec7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.count-up-per {
  font-size: 40px !important;
  margin-left: 5px !important;
}

/* ---------------- WHYUS ---------------- */
.center-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image-box img {
  width: 68%;
  object-fit: cover;
  animation: floatUpDown 0.9s ease-in-out infinite;
}

.whyus-box {
  padding: 25px 31px !important;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.shift-right {
  position: relative;
  right: -80px;
  text-align: end;
}

.shift-left {
  position: relative;
  left: -80px;
  text-align: start;
}

.shift-center-ri {
  position: relative;
  right: -30px;
  text-align: end;
}

.shift-center-le {
  position: relative;
  left: -30px;
  text-align: start;
}

/* ---------------- AICOHORT ---------------- */
.ai-section {
  background: linear-gradient(90deg, var(--secondary) 0%, var(--black) 100%);
  cursor: grab;
  position: relative;
  overflow: hidden;
}

.MuiAvatar-circular {
  background-color: var(--primary-light) !important;
  height: 30px !important;
  width: 30px !important;
}

.MuiSvgIcon-fontSizeMedium {
  font-size: 22px !important;
}

/* ---------------- COURSE ---------------- */
.marquee-outer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-inner {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  align-items: stretch;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  cursor: grab;
  justify-content: center;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.course-btn {
  color: var(--white) !important;
}

.course-btn:hover {
  background-color: #333;
}

.marquee-inner::-webkit-scrollbar {
  display: none;
}

.marquee-inner.active {
  cursor: grabbing;
}

.marquee-item {
  flex: 0 0 calc((100% - 50px) / 3);
  max-width: calc((100% - 50px) / 3);
  box-sizing: border-box;
}

.card-main {
  background-color: var(--background) !important;
  border: 1px solid var(--primary);
  padding:10px 25px!important;
  min-height: 383; 
}

.extra-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.extra-icon {
  font-size: 35px !important;
  color: var(--primary-light2);
}

/* ---------------- LEARN ---------------- */
.learn-vid {
  width: 100%;
  height: auto;
}

/* ---------------- Responsive ---------------- */
@media (min-width: 2500px) {
  .new-section {
    padding: 100px 400px !important;
  }

  .plr-50 {
    padding: 0px 50px !important;
  }

  .vision-image-box img {
    width: 70%;
  }

  .center-image-box img {
    width: 55%;
  }

  .whyus-box {
    padding: 24px !important;
  }
}

@media (max-width: 1024px) {
  .header-toolbar,
  .hero-content {
    padding: 0 15px !important;
  }

  .new-section {
    padding: 30px 20px !important;
  }

  .vision-image-box img {
    width: 100%;
  }

  .whyus-box {
    padding: 25px 12px !important;
  }

  .card-main {
    min-height: 394px; 
  }

  .learn-vid {
    height: 130vh;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 27px !important;
  }

  h6 {
    font-size: 16px !important;
  }

  p {
    font-size: 16px !important;
  }

  h5 {
    font-size: 22px !important;
  }

  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
  }

  .contact-btn {
    background-color: var(--white) !important;
    color: var(--black) !important;
    padding: 4px 18px !important;
    font-weight: 500 !important;
    border-radius: 0;
  }

  .mobile-dropdown {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding: 5px 0px 20px 0px;
  }

  .mobile-dropdown.open {
    left: 0;
  }

  .mobile-dropdown-item {
    color: var(--black) !important;
    text-align: left !important;
    border-bottom: 1px solid var(--grey) !important;
    justify-content: flex-start !important;
    border-radius: 0px !important;
  }

  .shift-right {
    right: 0px;
    text-align: center;
  }

  .shift-left {
    left: 0px;
    text-align: center;
  }

  .shift-center-ri {
    right: 0px;
    text-align: center;
  }

  .shift-center-le {
    left: 0px;
    text-align: center;
  }

  .whyus-box {
    padding: 25px 31px !important;
  }

  .marquee-item {
    flex: 0 0 calc((100% - 50px) / 2); /* 3 cards visible, minus total gap */
    max-width: calc((100% - 50px) / 2);
    box-sizing: border-box;
  }

  .learn-vid {
    height: auto;
  }
}

@media (max-width: 425px) {
  .logo img {
    max-height: 45px;
  }

  .mobile-dropdown {
    top: 55px;
  }

  .whyus-box {
    padding: 24px !important;
  }

  .marquee-item {
    flex: 0 0 calc((100%));
    max-width: calc((100%));
    box-sizing: border-box;
  }

  .marquee-inner {
    justify-content: flex-start;
  }

  .card-main {
    min-height: 390px !important; 
  }
}